{% extends 'strap.html' %}

{% block content %}
    <h2 class="text-center mb-4">Login</h2>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.non_field_errors }}  <!-- Отображение общих ошибок формы -->
        </div>
        <div class="mb-3">
            {{ form.username.label }}  <!-- Метка для поля username -->
            {{ form.username }}  <!-- Поле для ввода имени пользователя -->
            {{ form.username.errors }}  <!-- Ошибки для поля username, если есть -->
        </div>
        <div class="mb-3">
            {{ form.password.label }}  <!-- Метка для поля password -->
            {{ form.password }}  <!-- Поле для ввода пароля -->
            {{ form.password.errors }}  <!-- Ошибки для поля password, если есть -->
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <br>
    <a href="{% url 'register' %}" class="btn btn-secondary">Register</a>
{% endblock %}
